fastapi==0.115.8
uvicorn==0.34.0
python-dotenv==1.1.1
transformers==4.48.3
torch==2.6.0
scikit-learn==1.6.1
scipy==1.15.1
numpy==2.2.2
SQLAlchemy==2.0.38
PyMySQL==1.1.1
pydantic==2.10.6
cryptography==45.0.4
requests==2.32.3
sqlmodel==0.0.22
transformers==4.48.3
typing_extensions==4.12.2
